<style>
    .reset-password {
      width: 50%;
      margin: auto;
      margin-top: 10%;
      border: 1px solid #ededed;
      padding: 10px;
      border-radius: 10px;
    }
  </style>
<div>
  <div class="container-fluid">
    <div class="reset-password">
      <form role="form" method="POST" action="/user/reset-password">
        <input type="hidden" name="passwordRecoveryToken"
        value=<%- typeof passwordRecoveryToken !== 'undefined' ?
        JSON.stringify(passwordRecoveryToken) :
        null %>>
        <div class="form-title">
          <span class="text">Reset Your Password</span>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" autofocus placeholder="at least 6 characters" name="password" type="password" autofocus required>
        </div>
        <div class="form-group">
          <input type="password" ng-model="properties.confirmpassword" class="form-control input-lg" placeholder="one more time" name="confirmation" required>
        </div>
        <div class="form-group">
          <button type="submit" class="submit-btn btn btn-lg btn-block btn-primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>