<style>
  #password-recovery {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  }

  form {
    margin: auto;
  }
</style>
<div>
  <div class="container-fluid">
    <div id="password-recovery">
      <div class="title">
        <h4>io_board Password Recovery</h4>
      </div>
      <div class="instructions">
        <h6>Password Reset Instructions:</h6>
        <ol>
          <li>Enter your email and click the "Email me a reset link" button.</li>
          <li>Open Outlook and check your Inbox or Junk Email.</li>
          <li>Click on the link that was sent.</li>
          <li>Enter your new password twice and hit the Submit button.</li>
        </ol>
      </div>
      <form role="form" method="POST" action="/user/generate-recovery-email" id="password-recovery-form">
        <div class="form-group">
          <input class="form-control input-lg" autofocus placeholder="enter your email here" name="email" type="email" required>
        </div>
        <div class="form-group">
          <button type="submit" class="submit-btn btn btn-lg btn-block btn-primary">Email me a reset link</button>
        </div>
      </form>
    </div>
  </div>
</div>